@font-face {
    font-family: "SVN-Gilroy Medium";
    src: local("SVN-Gilroy Medium"), url("./assets/fonts/SVN-Gilroy Medium.otf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SVN-Gilroy Medium";
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    width: 80%;
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}